body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    background-color: #FADADD;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
}

#image-gallery {
    width: 300px;
    height: 300px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.image-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.gallery-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

/* Text and Buttons */
#question {
    font-family: 'Sacramento', cursive;
    font-size: 52px;
    margin-top: 20px;
}

#options {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 26px;
    font-family: 'Sacramento', cursive;
    background-color: #FB607F;
    color: white;
    border: none;
    cursor: pointer;
}